body {
  background-color: lightblue;
  font-size: 2rem;
}

img {
  border: 5px solid white;
}

#navbarNav {
  background-color: lightblue;
}

.header {
  background-color: rgb(76, 149, 173);
  color: black;
  font-style: oblique;
}

.navbar {
  background-color: lightblue !important;
}

.navbar-collapse {
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
}
